{
  "template_id": "reset_password",
  "components": [
    {
      "type": "body",
      "parameters": [
        {"type": "text", "text": {{ user_name | tojson }}},
        {"type": "text", "text": {{ reset_url | tojson }}},
        {"type": "text", "text": {{ expires_at | tojson }}}
      ]
    }
  ]
}
